@{
    ViewBag.Title = "Coming Soon";
    Layout = "~/Areas/EN/Views/Shared/_Layout.cshtml";
}

<div class="fullsoon">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="fullsoon-title color-white">coming soon</div>
            <div class="fullsoon-text color-white-light"></div>
        </div>

        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div id="countdown" class="ClassyCountdown"></div>
        </div>
    </div>
</div>	