@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="inner-banner style-2">
    <img class="center-image" src="~/img/country/banner2.jpg" alt="">
    <div class="vertical-align">
        <div class="container">
            <h4 class="color-white">@ViewBag.Title</h4>
        </div>
    </div>
</div>

<div class="list-wrapper bg-grey-2">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div>
                    <p>
                        Please check your email for your password.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



